* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.item-container {
    width: 250px;
    height: 315px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: linear-gradient(0deg, black, #456c98);
}

.item-container:hover {
    box-shadow: 1px 5px 5px 3px #456c98;

}

.icon {
    width: 11rem;

}

.whatsapp-icon {
    width: 35px;
    height: 35px;
    margin-left: 9px;
    position: fixed;
    top: 20px;
    right: 20px;
}
.whatsapp-icon-2 {
    width: 35px;
    height: 35px;
    margin-left: 9px;
    position: fixed;
    bottom: 20px;
    left: 20px;
}


@media(min-width: 400px)and(max-width: 600px) {
   .homeJpg{
        max-width: 100px; 
        object-position: center center;
    }
   
}
.homeJpg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar2 {
    background-color: rgb(10 10 10/83%);
    border-top: 2px solid rgb(46, 45, 45);
    border-bottom: 2px solid rgb(46, 45, 45);
    position: fixed;
    top: 1px;
}


.bg-color {
    background-color: black;
}

.bg-color-2 {
    background-color: rgb(10 10 10/83%);
}

.f-color {
    color: white;

}

.item-image {
    width: 100%;
    height: 125px;
}

.rating {
    font-size: 12px;
    font-weight: 700;
}

.company-name {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-name {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}

.price {
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}

.current-price {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}

.original-price {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}

.btn-add-bag {
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
    background: linear-gradient(0deg, rgb(89, 187, 240), #2efedf);
    color: rgb(25, 23, 23);
    font-weight: 600;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-add-bag:hover{
   
    background: linear-gradient(0deg, rgb(225, 237, 244), #d4d7d6);
    color: rgb(54, 61, 61);
    cursor: pointer;
    border: 3px solid black;
}

.homeItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* styles.css */
.alert-container {
    position: fixed;
    top: 10rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .alert-message {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .alert-whastsapp{
    width: 35px;
    height: 35px;
    margin-left: 9px;
  }